<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseSeven">
      SECCIÓN - PAGO VOLUNTARIO (Solamente donde exista esta opción)
    </button>
  </h2>
  <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse show">
    <div class="accordion-body">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ÍTEM DE LA DECLARACIÓN</th>
          <th scope="col">VALOR DEL ÍTEM</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">39</th>
          <td>
            <div class="container">LIQUIDE EL VALOR DEL PAGO VOLUNTARIO (Según instrucciones del municipio/distrito)</div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">40</th>
          <td>
            <div class="container">
              TOTAL A PAGAR CON PAGO VOLUNTARIO (Renglón 38 + 39)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row"></th>
          <td colspan="2">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Destino de mi aporte voluntario</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
