<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseFive">
      SECCIÓN D - LIQUIDACIÓN PRIVADA
    </button>
  </h2>
  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show">
    <div class="accordion-body">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ÍTEM DE LA DECLARACIÓN</th>
          <th scope="col">VALOR DEL ÍTEM</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">20</th>
          <td>
            <div class="container">TOTAL IMPUESTO DE INDUSTRIA Y COMERCIO</div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">21</th>
          <td>
            <div class="container">
              IMPUESTO DE AVISOS Y TABLEROS (15% del renglón 20)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">22</th>
          <td>
            <div class="container">
              PAGO POR UNIDADES COMERCIALES ADICIONALES DEL SECTOR FINANCIERO
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">23</th>
          <td>
            <div class="container">
              SOBRETASA BOMBERIL (Ley 1575 de 2012) (Si la hay, liquídela según el acuerdo municipal o distrital)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">24</th>
          <td>
            <div class="container">
              SOBRETASA DE SEGURIDAD (Ley 1421 de 2011) (Si la hay, liquídela según el acuerdo municipal o distrital)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">25</th>
          <td>
            <div class="container">
              TOTAL IMPUESTO A CARGO (Renglón 20 + 21 + 22 + 23 + 24)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">26</th>
          <td>
            <div class="container">
              MENOS VALOR DE EXENCIÓN O EXONERACIÓN SOBRE EL IMPUESTO Y NO SOBRE LOS INGRESOS
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">27</th>
          <td>
            <div class="container">
              MENOS RETENCIONES Que le prácticaron a favor de este municipio o distrito en este periodo
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">28</th>
          <td>
            <div class="container">
              MENOS AUTORRETENCIONES Practicadas a favor de este municipio o distrito en este periodo
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">29</th>
          <td>
            <div class="container">
              MENOS ANTICIPO LIQUIDADO EN EL AÑO ANTERIOR
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">30</th>
          <td>
            <div class="container">
              ANTICIPO DEL AÑO SIGUIENTE (Si existe, liquide según el acuerdo municipal o distrital)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">31</th>
          <td>
            <div class="container">
              SANCIONES
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="no_aplica_sancion" checked>
              <label class="form-check-label" for="no_aplica_sancion">
                No Aplica
              </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="sancion_x_extemporaneidad">
              <label class="form-check-label" for="sancion_x_extemporaneidad">
                Extemporaneidad
              </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="sancion_x_correccion">
              <label class="form-check-label" for="sancion_x_correccion">
                Corrección
              </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="sancion_x_inexactitud">
              <label class="form-check-label" for="sancion_x_inexactitud">
                Inexactitud
              </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="sancion_x_otra_razon" disable>
              <label class="form-check-label" for="sancion_x_otra_razon">
                Otra
              </label>
            </div>

          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">32</th>
          <td>
            <div class="container">
              MENOS SALDO A FAVOR DEL PERIODO ANTERIOR SIN SOLICITUD DE DEVOLUCIÓN O COMPENSACIÓN
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">33</th>
          <td>
            <div class="container">
              TOTAL SALDO A CARGO (Renglón 25 - 26 - 27 - 28 - 29 + 30 + 31 - 32)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">34</th>
          <td>
            <div class="container">
              TOTAL SALDO A CARGO (Renglón 25 - 26 - 27 - 28 - 29 + 30 + 31 - 32) Si el resultado es menor a cero
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
