<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseThree">
      SECCIÓN B - BASE GRAVABLE
    </button>
  </h2>
  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
    <div class="accordion-body">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ÍTEM DE LA DECLARACIÓN</th>
          <th scope="col">VALOR DEL ÍTEM</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">8</th>
          <td>
            <div class="container">TOTAL INGRESOS ORDINARIOS Y EXTRAORDINARIOS DEL PERIODO EN TODO EL PAÍS</div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">9</th>
          <td>
            <div class="container">
              MENOS INGRESOS FUERA DE ESTE MUNICIPIO O DISTRITO
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">10</th>
          <td>
            <div class="container">
              TOTAL INGRESOS ORDINARIOS Y EXTRAORDINARIOS EN ESTE MUNICIPIO (Renglón 8 menos 9)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">11</th>
          <td>
            <div class="container">
              MENOS INGRESOS POR DEVOLUCIONES, REBAJAS, DESCUENTOS
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">12</th>
          <td>
            <div class="container">
                MENOS INGRESOS POR EXPORTACIONES
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">13</th>
          <td>
            <div class="container">
                MENOS INGRESOS POR VENTA DE ACTIVOS FIJOS
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">14</th>
          <td>
            <div class="container">
              MENOS INGRESOS POR ACTIVIDADES EXCLUIDAS O NO SUJETAS Y OTROS INGRESOS NO GRAVADOS
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">15</th>
          <td>
            <div class="container">
              MENOS INGRESOS POR OTRAS ACTIVIDADES EXENTAS EN ESTE MUNICIPIO O DISTRITO (POR ACUERDO)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">16</th>
          <td>
            <div class="container">
              TOTAL INGRESOS GRAVABLES (Renglón 10 menos 11, 12, 13, 14, 15)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
