<form>
  <div class="accordion" id="fun-declaraciones-anuales-industria-y-comercio">
    <app-seccion-opciones-de-uso></app-seccion-opciones-de-uso>
    <app-seccion-a-informacion-del-contribuyente></app-seccion-a-informacion-del-contribuyente>
    <app-seccion-b-base-gravable></app-seccion-b-base-gravable>
    <app-seccion-c-discriminacion-actividades-gravadas></app-seccion-c-discriminacion-actividades-gravadas>
    <app-seccion-d-liquidacion-privada></app-seccion-d-liquidacion-privada>
    <app-seccion-e-pago></app-seccion-e-pago>
    <app-seccion-pago-voluntario></app-seccion-pago-voluntario>
    <app-seccion-f-firmas></app-seccion-f-firmas>
  </div>
  <input type="submit" class="btn btn-success" value="Registrar la Declaración">
</form>
