<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#seccion-a-informacion-del-contribuyente" aria-expanded="false"
            aria-controls="seccion-a-informacion-del-contribuyente">
      SECCIÓN A - INFORMACIÓN DEL CONTRIBUYENTE
    </button>
  </h2>
  <div id="seccion-a-informacion-del-contribuyente" class="accordion-collapse collapse show">
    <div class="accordion-body">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nombre_razon_social"
                     placeholder="1. NOMBRES Y APELLIDOS Ó RAZÓN SOCIAL">
              <label for="nombre_razon_social" class="text-wrap">1. NOMBRES Y APELLIDOS Ó RAZÓN SOCIAL</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="tipo_identificacion"
                     placeholder="2. TIPO DE IDENTIFICACIÓN">
              <label for="tipo_identificacion" class="text-wrap">2. TIPO DE IDENTIFICACIÓN</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="numero_de_identificacion"
                     placeholder="NÚMERO DE IDENTIFICACIÓN">
              <label for="numero_de_identificacion" class="text-wrap">NÚMERO DE IDENTIFICACIÓN</label>
            </div>
          </div>
        </div><!-- Fin de Fila -->

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="direccion_notificacion"
                     placeholder="3. DIRECCIÓN DE NOTIFICACIÓN">
              <label for="direccion_notificacion" class="text-wrap">3. DIRECCIÓN DE NOTIFICACIÓN</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="departamento_notificacion"
                     placeholder="2. TIPO DE IDENTIFICACIÓN">
              <label for="departamento_notificacion" class="text-wrap">DEPARTAMENTO</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="municipio_notificacion"
                     placeholder="MUNICIPIO">
              <label for="municipio_notificacion" class="text-wrap">MUNICIPIO</label>
            </div>
          </div>
        </div> <!-- Fin de Fila -->

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="telefono"
                     placeholder="4. TELÉFONO">
              <label for="telefono" class="text-wrap">4. TELÉFONO</label>
            </div>
          </div>

          <div class="col">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email"
                     placeholder="5. CORREO ELECTRÓNICO">
              <label for="email" class="text-wrap">5. CORREO ELECTRÓNICO</label>
            </div>
          </div>

        </div> <!-- Fin de Fila -->

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="num_establecimientos"
                     placeholder="6. NÚMERO DE ESTABLECIMIENTOS">
              <label for="num_establecimientos" class="text-wrap">6. NÚMERO DE ESTABLECIMIENTOS</label>
            </div>
          </div>

          <div class="col">
            <div class="form-group mb-3 form-floating">

              <select id="tipo_de_regimen" name="regimen" class="form-select" aria-label="Default select example">
                <option selected>¿A que tipo de régimen pertenece?</option>
                <option value="ag_retenedor">AGENTE RETENEDOR</option>
                <option value="re_comun">RÉGIMEN COMÚN</option>
                <option value="gran_contribuyente">GRAN CONTRIBUYENTE</option>
              </select>

              <label for="tipo_de_regimen" class="text-wrap">7. CLASIFICACIÓN</label>
            </div>
          </div>

        </div> <!-- Fin de Fila -->

        <div class="row">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="avisos_y_tableros" checked>
              <label class="form-check-label" for="avisos_y_tableros">
                ¿Tiene Avisos y Tableros?
              </label>
            </div>
          </div>

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="consorcio_union_temporal">
              <label class="form-check-label" for="consorcio_union_temporal">
                ¿Es un Consorcio o Unión Temporal?
              </label>
            </div>
          </div>

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="patrimonio_autonomo">
              <label class="form-check-label" for="patrimonio_autonomo">
                ¿Realiza Actividades a través de Patrimonio Autónomo?
              </label>
            </div>
          </div>

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cancelacion_establecimiento">
              <label class="form-check-label" for="cancelacion_establecimiento">
                ¿Esta Declaración es por Motivo de Cancelación del Establecimiento?
              </label>
            </div>
          </div>

        </div> <!-- Fin de Fila -->

      </div>
    </div>
  </div>
</div>
