<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseSix">
      SECCIÓN E - PAGO
    </button>
  </h2>
  <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse show">
    <div class="accordion-body">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ÍTEM DE LA DECLARACIÓN</th>
          <th scope="col">VALOR DEL ÍTEM</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">35</th>
          <td>
            <div class="container">VALOR A PAGAR</div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">36</th>
          <td>
            <div class="container">
              DESCUENTOS POR PRONTO PAGO (Si existe, liquidelo según el acuerdo municipal o distrital)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">37</th>
          <td>
            <div class="container">
              INTERÉS DE MORA
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">38</th>
          <td>
            <div class="container">
              TOTAL A PAGAR (Renglón 35 - 36 + 37)
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Cantidad (en Pesos Colombianos al Mil más cercano)">
              <span class="input-group-text">.00</span>
            </div>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
