<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseFour">
      SECCIÓN C - DETERMINACIÓN DE ACTIVIDADES GRAVADAS
    </button>
  </h2>

  <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show">
    <div class="accordion-body">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">ACTIVIDADES GRAVADAS</th>
          <th scope="col">TARIFA (POR MIL)</th>
          <th scope="col">INGRESOS GRAVADOS</th>
          <th scope="col">IMPUESTO</th>
          <th scope="col">OPCIONES</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="actividad_lista" placeholder="SELECCIONE ACTIVIDAD" disabled>
            </div>
          </td>

          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="calculo_tarifa" placeholder="CALCULAR TARIFA" disabled>
            </div>
          </td>

          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="ingresos_gravados" placeholder="Dígite sus Ingresos Gravados" disabled>
            </div>
          </td>

          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="calculo_impuesto" placeholder="SELECCIONE ACTIVIDAD" disabled>
            </div>
          </td>

          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="opciones_add_del" placeholder="OPCIONES AGREGAR / ELIMINAR" disabled>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
